.TabsView {
  width: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}

.TabsView .header {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.TabsView .header .place {
  flex: 1;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  padding-left: 10px;
}

.TabsView .header .headerRight {
  float: right;
  text-align: center;
  padding-right: 10px;
}

.TabsView .header .headerRight > p {
  margin: 0;
  font-size: 10px;
}

.TabsView .footer {
  display: flex;
  text-align: center;
}

.TabsView .footer > div {
  flex: 1;
}

.TabsView .footer > div > p {
  font-family: 'PingFangSC-Regular', 'PingFang SC';
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: #999999;
}
